.container {
    display: flex;
    justify-content: flex-start;
    margin: 4rem 0;
}

.content_left h3{
    color: var(--brown);
    font-size: 4rem ;
    width: 50%;
}

.content_left h3::before {
    content: '';
    display: block;
    width: 5.2rem;
    height: .2rem;
    background-color: var(--brown);
    margin-bottom: 1rem;
}

.content_left p {
    width: 50%;    
    font-size: 1.2rem;
    color: var(--brown);
}

.content_left a {
    font-weight: 700;
    text-decoration: none;
    color: var(--small);
    font-size: 1.2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid img {
    width: fit-content;
    height: fit-content;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}