.footer {
    background-color: var(--black);
    padding: 20px 30px;
    border-radius: 3.5rem 3.5rem 0 0 ;
    color: var(--white);
    display: flex;
    justify-content: space-between;
}

.footer img {
    filter: brightness(0) invert(1);
}