

.main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: var(--rounded);
}

.cat_container {
    min-height: 40rem;
    background-image: url('/banner/HeroImagelg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--white);
    border-radius: var(--rounded) var(--rounded) 0 0;
}

.cat_info {
    min-width: 90%;

}

.cat_logo {
    filter: brightness(0) invert(1);
    width: 20rem;
}

.cat_info h2 {
    width: 24rem;
}

.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    background-color: var(--white);
    padding: 20px 30px;
    border-radius: 20px;
}

.input input {
    background-color: none;
    outline: none;
    border: none;
    width: 90%;
}

.input  input::placeholder {
    color: var(--brown);
}

.input img {
    width: 1rem;
    color: var(--black);
}

.form_btn {
    border: none;
    background: none;
    outline: none;
}

.form {
    width: fit-content;
}

.bottom {
    min-width: 90%;
    min-height: 40rem;
    background-color: var(--lightgray);
    margin-bottom: 1rem;
    border-radius: 0 0 var(--rounded) var(--rounded);
    padding: 20px;
}

.bottom_text {
    font-size: 1.2rem;
    color: var(--brown);
}

.bottom_text::after {
    content: '';
    display: block;
    width: 4rem;
    height: .2rem;
    background-color: var(--brown);
    margin-top: .5rem;
    margin-bottom: -3rem;
}

.bottom_content {
    margin: 0 auto;
    width: 90%;
}

.bottom_h1 {
    font-size: 4rem;
    color: var(--brown);
    width: 45%;
}

.bottom_title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bottom_title small {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.bottom_title a {
    text-decoration: none;
    color: var(--small);
}

.cat_card {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media screen and (max-width:1200px) {
    .bottom_title {
        display: block;
    }

    .bottom_h1, a {
        width: 100%;
    }
}